name: Project build workflow

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Node.js 22.13.0
      uses: actions/setup-node@v4
      with:
        node-version: 22.13.0  
        cache: 'npm'  

    - name: Install Dependencies
      run: npm install 

    - name: Build
      run: npm run build --if-present 
